<h4>Wellcome to collections view!</h4>
<div class="row">
	
	<div class="col-md-4 col-md-push-8">
		<div class="collections-add">
			<h4 class="text-primary"><i class="glyphicon glyphicon-plus-sign"></i> Add new Collection</h4>
				<div class="app-card collection-add">
					<div class="input-group">
					  <span class="input-group-addon" id="sizing-addon2"><i class="glyphicon glyphicon-search"></i></span>
					  <input type="text" class="form-control" placeholder="Collection name" aria-describedby="sizing-addon2">
					</div>
					<button type="button" class="btn btn-primary btn-block mt-20" data-action="add-collection"><span class="glyphicon glyphicon-plus-sign"></span> Add collection</button>
					<div class="suggestion">
						<p><strong>Didn't find your collection?</strong></p>
						<p>Would you like us to add a collection to MyStickers?</p>
						<a class="text-info" href="" data-action="suggest-collection">Suggest collection</a>
					</div>
				</div>
		</div>
	</div>

	<div class="col-md-8 col-md-pull-4">
		<div class="collections">
			<h4 class="text-primary"><i class="glyphicon glyphicon-list-alt"></i> My Collections</h4>
		</div>
	</div>
	
</div>