<ul>
  <li class="menu-item"><a data-nav="dashboard" class="glyphicon glyphicon-home" href="#dashboard"></a></li>
  <li class="menu-item"><a data-nav="collections" href="#collections">Collections</a></li>
  <li class="menu-item"><a data-nav="trades" href="#trades">Trades</a></li>
  <li class="menu-item"><a data-nav="swaps" href="#swaps">Swaps</a></li>
  <li class="menu-logout pull-right"><span class="glyphicon glyphicon-user"></span> logout</li>
</ul>