// declare module css here
@import "../config/variables.scss";

.collections-add {
	opacity: 1;

	h4 {
    margin: 30px 0px;
	}

	.suggestion {
    padding: 20px 0px;

    a {
    	opacity: .7;
    	color: $blue;

    	&:hover {
    		opacity: 1;
    	}
    }
	}
}

.collections {
	opacity: 1;

	h4 {
    margin: 30px 0px;
	}

	.collection {
		> div {
			display: inline-block;
		}

		.image {
			opacity: 1;
		}

		.details {
			opacity: 1;

			.name {
				font-size: 16px;
			}

			.date {
				opacity: .4;
			}

			.items {
				color: $warning;
				opacity: .5;
				font-size: 20px;
			}

			.actions {
    		font-size: 12px;
    		cursor: pointer;
    		padding-top: 10px;

				> div {
					opacity: 0.7;
					display: inline-block;

					&:first-child {
						padding-right: 10px;
					}

					&:hover {
						opacity: 1;
					}
				}
			}
		}
	}
}